<div class="container login" style="color:blue">
   
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4"id="bank">
      <h4>Welcome to Sbk bank</h4> <br><h5>{{aim}}</h5>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="exampleInputEmail1">Account Number</label>
          <input type="text" class="form-control btn1" id="acno" aria-describedby="emailHelp"
            placeholder="Enter Account no" formControlName="acno" name="acno">
            <div *ngIf="(this.loginForm.get('acno')?.touched||this.loginForm.get('acno')?.dirty) && (this.loginForm.get('acno')?.errors)" class="errors">Invalid Account number</div> 

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control btn1" formControlName="pwd" id="pwd" placeholder="Password" name="pwd">
        <div *ngIf="(this.loginForm.get('pwd')?.touched||this.loginForm.get('pwd')?.dirty) && (this.loginForm.get('pwd')?.errors)" class="errors">Invalid Password</div> 

        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <div>
        <input type="submit" class="btn btn-primary" value="LOGIN" style="width:300px;"><br><br>
        <input type="button" class="btn btn-danger" value="CREATE ACCOUNT" (click)='register()'style="width:300px;">
        </div>
    
    </form>
      <div class="col-4"></div>
    </div>
 
</div>