.errors{
    color:red;
}
#text{
    position:relative;
    top:50px;
    color:purple;
    text-align:center;
}

#inpt{
    position:relative;
    top:30px;
    
}

.deleteStyle{
    background-color:grey;

    opacity:0.2;
    
   
   
    
}