<div class="container login" style="color:blue">
   
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4"id="bank">
      <h4>Welcome to Sbk bank</h4> <br>
<form (ngSubmit)="register()">
      
        <div class="form-group">
        <label for="exampleInputPassword1">Username</label>
          <input type="text" class="form-control btn1" [(ngModel)]="uname" placeholder="User Name" name="uname" >
          <label for="exampleInputEmail1">Account Number</label>
          <input type="text" class="form-control btn1" id="acno" aria-describedby="emailHelp"
            placeh older="Enter Account no"  [(ngModel)]="acno" name="acno">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
       
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control btn1" [(ngModel)]="pwd" id="pwd" placeholder="Password" name="pwd" ><br>
       
          
       
        <input type="submit" class="btn btn-primary" value="Register" style="width:300px;"><br>
        <a class="textfp" routerLink="" >Log in</a>
       
      </div>
    </form>
    </div>
      <div class="col-4"></div>
    </div>
 
</div>
